// Change configuration
$gutter: 1rem;

// Add dependencies
@import 'node_modules/primeflex/primeflex.scss';

// Add custom font
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

$mainFont: 'Manrope', sans-serif;
$mainFontSize: 15px;

*,
body,
:root {
  font-family: $mainFont;
  font-size: $mainFontSize;
}

// TODO: Make this better.
.p-dropdown-label {
  font-family: $mainFont;
  font-size: $mainFontSize;
}

@import './custom.scss';
