.rounded {
  border-radius: 4px;
  overflow: hidden;
}
.p-button-big {
  padding: 15px 25px;
  width: 300px;

  .p-button-label {
    font-size: 17px;
    letter-spacing: 0.25px;
    font-weight: 600;
  }
}
